<section>
    <h3 id="aboutMe">About Me</h3>    
    <div class="about-icons">
        <div class="avatar"></div>
        <div class="info-icon-1"></div>
        <div class="info-icon-2"></div>
        <div class="info-icon-3"></div>
        <div class="info-icon-4"></div>
    </div>
    <div class="about-text">
        <p>
            <strong>Hello there I'm Dimitris Karapanos</strong>, an Engineer and 
            Web developer enthusiast currently living in Paris, France. I have worked as a full stack developer getting my hands dirty in 
            back end programming (PHP / MySQL / Yii2) and front end engineering (Javascript / AngularJS / jQuery / HTML5 / CSS3).
            In my free time i love participating in <a href="http://www.codewars.com/users/gpanos">online code challenges</a>,
            learning about new trends in web technologies and practicing martial arts. 
            <br>May the force be with you...
                
        </p>
    </div>
    
    <div class="skills-graph">
        <div class="skill-type">
            <div class="skill-label">Communication</div>
            <div class="skill-bar">
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="empty"></span>
                <span class="empty"></span>
                <span class="empty"></span>
                <span class="empty"></span>
                
            </div>
        </div>
        <div class="skill-type">
            <div class="skill-label">Organization</div>
            <div class="skill-bar">
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="empty"></span>
            </div>
        </div>
        <div class="skill-type">
            <div class="skill-label">Learning</div>
            <div class="skill-bar">
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
            </div>
        </div>
        <div class="skill-type">
            <div class="skill-label">Planning</div>
            <div class="skill-bar">
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="empty"></span>
                <span class="empty"></span>
                <span class="empty"></span>
            </div>
        </div>
        <div class="skill-type">
            <div class="skill-label">Design</div>
            <div class="skill-bar">
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="empty"></span>
                <span class="empty"></span>
                <span class="empty"></span>
            </div>
        </div>
        <div class="skill-type">
            <div class="skill-label">Programming</div>
            <div class="skill-bar">
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="full"></span>
                <span class="empty"></span>
                <span class="empty"></span>
            </div>
        </div>  
    </div>
</section>