<section class="darker-section section-work">
    <h3 id="work">Work</h3>
    
    <div class="work-wrapper">
        <div class="thumb-wrap">
            <div class="thumb-container">
                <div class="thumb-unit"
                     data-file="inock"
                >
                    <div class="thumb-preview">
                    <h3>Full stack Developer</h3>
                        <h4>2015-Today, Paris</h4>
                        <p>
                            Responsible for back end and front end developing of 
                            web applications
                        </p>
                    </div>
                    <div class="thumb-overlay">
                        <strong>Inock</strong>
                        <div class="zoom-icon">{% include icons/magnifying-glass.html %}</div>
                    </div>
                </div>
                <div class="thumb-unit"
                     data-file="dressapp"
                >
                    <div class="thumb-preview">
                    <h3>Founder/Full stack Developer</h3>
                        <h4>2015-Today, Paris</h4>
                        <p>
                            From schetching and wireframing to full back and front end 
                            developing
                        </p>
                    </div>
                    <div class="thumb-overlay">
                        <strong>DressApp</strong>
                        <div class="zoom-icon">{% include icons/magnifying-glass.html %}</div>
                    </div>
                </div>
                <div class="thumb-unit"
                     data-file="freelancing"
                >
                    <div class="thumb-preview">
                    <h3>Lisp/AutoLisp developer</h3>
                        <h4>2014-2015, Paris</h4>
                        <p>
                            Developed Autocad/Autodesk customized menus using Lisp/AutoLisp
                        </p>
                    </div>
                    <div class="thumb-overlay">
                        <strong>Freelancer</strong>
                        <div class="zoom-icon">{% include icons/magnifying-glass.html %}</div>
                    </div>
                </div>
                <div class="thumb-unit"
                     data-file="geocon"
                >
                    <div class="thumb-preview">
                    <h3>Full time engineer</h3>
                        <h4>2011-2013, Greece</h4>
                        <p>
                            Responsible for technical engineering rural studies and project management
                        </p>
                    </div>
                    <div class="thumb-overlay">
                        <strong>GeoCon</strong>
                        <div class="zoom-icon">{% include icons/magnifying-glass.html %}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="work-wrap">
            <div class="work-container">
                <div class="go-back">{% include icons/go-back.html %}</div>
                <h4 class="project-title"></h4>
                <div class="project-load"></div>
            </div>    
        </div>
        
    </div>
    
</section>